body{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #C6EEE5;
    color: #212529;
}

.navbar-laravel {
    background-color: #3EBC9E;
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
    margin-bottom: 40px;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link{
    color: #E3E3E3 !important;
}

.table-dark{
    color: #fff;
}

.list-group-item {
    
}

.login-box{
    background-color: #AFD3C3;
    margin-top: 30px;
    
}

.jumbotron {
    background: #F8FAD4;    
    text-align: center;
    border-bottom: 0.05rem solid #e5e5e5;
    letter-spacing: .1em;
    line-height: 1.7;
}

.jumbotron .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
}

.jumbotron .h2{

    text-align: center;
    letter-spacing: .1em;
    line-height: 1.7;
}

.card {
    padding: 20px;
}

