body{
    font-family: 'Noto Sans Japanese','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E3E3E3;
    color: #717171;
    padding-top: 55px;
    padding-bottom: 50px;
}

.container{
  margin-top: 40px;  
}

li {
    list-style: none;
}

.navbar-laravel {
    background-color: #555555;
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
    opacity: 0.7;
}

.navbar-brand {
    color: #fff ;
}

.nav-link{
    color: #fff ;
}

.table-default a{
    color: #C7243A;
}

.table-default{
    background: #FFFFFF;
    color: #717171;
    border-radius: 5px;
    border-spacing: 0;
    border-collapse: separate
}

.table-default a{
    color: #007FB1;
}


.login-box{
    background-color: #FFFFFF;
    margin-top: 30px;
    
}

.jumbotron {
    background: #FFFFFF;    
    text-align: center;
    border-bottom: 0.05rem solid #e5e5e5;
    letter-spacing: .1em;
    line-height: 1.7;
}

.jumbotron .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
}

.jumbotron .h2{

    text-align: center;
    letter-spacing: .1em;
    line-height: 1.7;
}

.community .card {
    padding: 20px;
}


.icon {
    color: #3E90BA;
}

.icon-link .fas:hover {
    transition: 0.8s;
    color: #6BBED5;
}

.carousel {
  margin-bottom: 30px;
}

.carousel-item {
  height: 600px;

}

.carousel-item img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}

.carousel-caption {
  background: rgba(0,0,0,0.4);
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
}

